body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url(images/coluna.png) repeat-y left top;
    min-width: 720px;
}

#brand {
    height: 300px;
    background: #9E9E9E url(images/baseboard.jpg) no-repeat center;
    text-align: center;
    line-height: 300px;
}

#content {
    width: 75%;
    float: right;
}

#first-content {
    width: 63%;
    float: left;
}

img.img-new {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}

#second-content {
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#second-content h1,
#second-content h2,
#second-content h3,
#second-content p {
    padding-left: 20px;
    padding-right: 20px;
}

#navigation {
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navigation ul {
    list-style: none;
}

#navigation li a {
    text-decoration: none;
}

#baseboard {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}